.date{
    text-align: center;
}

.title{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.list{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    border-bottom: 1px dotted #333333;
}