.title{
    font-size: 36px;
    font-weight: 700;
}

.wrapper{
    display: flex;
    text-align: left;
    background-color: #efefef;
}

.listNotes{
    list-style-type: none;
    width: 100%;
    // outline: 2px dotted #00aa00;
    border-right: 1px double #212121;

    @media screen and (min-width:480px) {
        width:30%;
    }

}

.listItems{
    list-style-type: none;
    width: 100%;
    // outline: 2px dotted #00aa00;

    @media screen and (min-width:480px) {
        width:70%;
    }

}

.item{
    // width: 100%;
    // outline: 2px dotted #00aa00;
padding: 10px 15px;
    border-bottom: 1px dotted #333333;


    // @media screen and (min-width:480px) {
    //     width:70%;
    // }

}