.App {
  text-align: center;
}

.container{
margin: 0 auto;
text-align: center;
padding: 10px 15px;
width:100%;

// outline: 2px solid #FF0000;
  @media screen and (min-width:480px){
    width:480px;

  }

  @media screen and (min-width:768px){
    width: 768px;

  }

  @media screen and (min-width:1280px){
    width: 1280px;
  }
}

.header_sideBar{
  display: flex;
  flex-direction: column;
  outline: 2px dotted #000000;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #cfcfcf;
  @media screen and (min-width:768px) {
    flex-direction: row;

  }
}

.main_wrapper{
  display: flex;
  flex-direction: row;
  outline: 2px dotted #000000;

}

